<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    RewriteCond %{REQUEST_URI} ^assets.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
    #RewriteRule ^g_kompetensi/ - [L,F] 
    #RewriteRule ^g_ktm/ - [L,F] 
    #RewriteRule ^g_ktp_sim/ - [L,F] 
    #RewriteRule ^g_pengalaman_kerja/ - [L,F] 
    #RewriteRule ^g_sertifikat_pelatihan/ - [L,F] 
    #RewriteRule ^g_transkrip_nilai/ - [L,F] 
    #RewriteRule ^g_ttd_asesi/ - [L,F] 
    #RewriteRule ^g_ttd_asesor/ - [L,F] 
   
    #directory browsing
    Options All -Indexes
   
    RewriteCond %{REQUEST_URI} !\.(?:css|js)$ [NC]
    #RewriteRule ^assets/ - [L,F] 

     #Order deny,allow
    #Deny from all
    #<Files ~”.(xml|css|jpe?g|png|gif|js)$”>
    #Allow from all
    #</Files> 

</IfModule>

#Kode untuk cache file selama 1 bulan
<IfModule mod_expires.c>
ExpiresActive On
<FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|js|css|gif|jpg|jpeg|png|swf)$">
ExpiresDefault A2419200
</FilesMatch>
</IfModule>
   